// Custom styles.
.site-author-name,
.site-title {
	font-family: 'Sigmar One';
    text-shadow: 1px 1px 0 #ff3f1a, -1px -1px 0 #00a7e0;
    +mobile() {
				font-size: 3em;
			}
}
.site-master{
	background: rgba(40,42,44,0.6);
}
.menu .menu-item.online{
	display: none;
}

.feed-link a,
.feed-link a i{
	color: $grey;
}