// 标题，修改成你期望的字体族
$font-family-headings = "futura-pt","Microsoft JhengHei", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", WenQuanYi Micro Hei, "Microsoft YaHei", sans-serifGeorgia

// 修改成你期望的字体族
$font-family-base = "futura-pt","Microsoft JhengHei", Helvetica, Arial, "Hiragino Sans GB", WenQuanYi Micro Hei, "Microsoft YaHei", sans-serifGeorgia, sans,"inconsolata", Consolas, monospace, Verdana, sans-serif